@model List<AzureBlobStorage.Models.Blob>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form name="formEmpleado" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
                <label>Foto:</label>
                <input type="file" class="form-control" name="perfil" />
                <br />
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
        <div class="col-6">
        </div>
    </div>
    <br />
    <div class="row">
        @foreach (var imagen in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 15rem;">
                    <img src="@imagen.Uri" alt="@imagen.Name" width="50" height="15" class="card-img-top img-fluid" />
                    <div class="card-body">
                        <a asp-controller="Home" asp-action="Descargar" asp-route-name="@imagen.Name" class="btn-sm btn btn-primary">Descargar</a>
                        <a asp-controller="Home" asp-action="Eliminar" asp-route-name="@imagen.Name" class="btn-sm btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>